.aside{
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 20px;

            &:hover{
            img{
                transform: scale(1.2);
            }
            h2{
                transition: all 0.5s;
                color: rgb(148, 145, 144);
            }
        }

    .image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        position: relative;

        img{
            overflow: hidden;
            max-height: 100%;
            max-width: 100%;
            transition: all 0.5s;
        }
    }
    .aside-desc{
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2{
            font-size: 1.1rem;
        }
        h4{
            font-size: 1.2rem;
        }
    }
}